
.overlay {
  background-color: $dgreenTrans;
}

.block {
  height: 100px;

}

.background { 
  background: url(/images/dna.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fb-link {
  font-size: 14px;
  color: white;
  background-color: blue;
  border-radius: 5px;
  border: 1px solid $dgreen;
  padding: 5px;

}

.register {
  font-size: 14px;
  color: white;
  background-color: $green;
  border-radius: 5px;
  border: 1px solid $dgreen;
  font-family: arial;
  padding: 0 10px;
}

.container {
  width: 60%;
  margin: 0 auto;
  h2 {
    text-align: center;
  }

}

.error {
  color: white;
  text-shadow: 1px 1px 0 red, -1px 1px 0 red, 1px -1px 0 red, -1px -1px 0 red;
}
