
.brain {
  background: url(/images/brain.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  h2, p {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 0 $dgreen, -1px 1px 0 $dgreen, 1px -1px 0 $dgreen, -1px -1px 0 $dgreen;

  }
}
