  <body id="main">
    <header id="header">
      <nav id="nav">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Blog</a>
        <a href="#">Contact</a>
      </nav>
      <h1>Brand Name</h1>
      <p>Brand slogan and tagline.</p>
    </header>
    <div id="box">
      <h2>foo</h2>
    </div>
    <img id= "mainpic" class="mainpic" src="/images/yosemite.jpg" alt="yosemite picture" />
    <article class="mainarticle">
      <h2>Yosemite National Park.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <a href="#">Read More >></a>
    </article>
    <article class="other firsta">
      <h3>Lorum Ipsum Dolor</h3>
      <img class="treepic" src="/images/tree.jpg" alt="tree picture" />
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a href="#">Read More >></a>
    </article>
    <article class="other">
      <h3>Lorum Ipsum Dolor</h3>
      <img class="treepic" src="/images/tree.jpg" alt="tree picture" />
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a href="#">Read More >></a>
    </article>
    <article class="other">
      <h3>Lorum Ipsum Dolor</h3>
      <img class="treepic" src="/images/tree.jpg" alt="tree picture" />
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a href="#">Read More >></a>
    </article>
    <footer id="footer">
      <p>Copyright &copy; 2015 - All Rights Reserved - Domain Name</p>
    </footer>
    <div id="action">
      <h2> Action here </h2>
    </div>
    <div id="data">
    </div>
    <script src='/javascripts/library.js'></script>
    <script src='/javascripts/app.js'></script>
  </body>

