<div class="text-center chromosome">
  <div class="block"></div>
  <h2>Population Results</h2>
  <h4>Interactive Chart</h4>
</div>
<div id="example" class="parcoords">
</div>
<div id="smoothness"></div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
<script src='/javascripts/parcoords.js'></script>
<script src='/javascripts/library.js'></script>
<script src='/javascripts/results.js'></script>

<script src='/javascripts/d3.js'></script>
