<div class="text-center chromosome">
  <div class="block"></div>
  <h2>Population Results</h2>
  <h4>Interactive Chart</h4>
</div>
<div id="example" class="parcoords">
</div>
<div class="container">
  <p> The data on this chart represents the different website chromosomes that were tested through user interaction. The last column of the data set is the fitness of the website, a higher fitness is indicated in the color red, while a lower one indicated by blue.</p>
  <p> The other columns of the chart is the styling of the website, the red, blue, green values are the rgb value of the website used. The data is normalized to expresss the full spectrum. The other values are the positioning of pictures, nav bar, and paragraphs.</p>
  <p> The chart can compare one dimension of styling to the fitness of the overall website. This is usefull in determining if one particular style change effects user's interaction with the website.</p>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
<script src='/javascripts/parcoords.js'></script>
<script src='/javascripts/library.js'></script>
<script src='/javascripts/results.js'></script>

<script src='/javascripts/d3.js'></script>
