<div class="brain">
  <div class="block"></div>
  <div class="block"></div>
  <section class="overlay">
    <div class="text-center container">
      <h2>Sorry, You Already Visited</h2>
    </div>
  </section>

</div>
<div class="container">
  <div class= "text-center">
    <h2>Thank You!</h2>
  </div>
  <p>To keep the integrity of the data set, users are only allowed to visit the website once. Thank you for visiting the website. Contact Vinh Nguyen from G8 Galvanize Full Stack program in Boulder, Colorado for more information on how the website is evolving: vnguyen.cheme@gmail.com</p>
</div>


